{% extends 'base.html.twig' %}

{% block body %}

    <p class="login__subtitle">
        Welcome to Sidefund! Have fun(d)!
    </p>

    <div class="login__link-wrapper">
        {% if error is defined and error %}
            <span>{{ error }}</span>
        {% endif %}
        {% for owner in hwi_oauth_resource_owners() %}
            <a href="{{ hwi_oauth_login_url(owner) }}" class="login__link">Login with {{ owner | trans({}, 'HWIOAuthBundle') }}</a> <br />
        {% endfor %}
    </div>

{% endblock %}
