{% extends 'base.html.twig' %}

{% block body %}
    <div class="projects__controls">
        <a class="projects__new-link" href="{{ path('project_new') }}">
          <span class="projects__new-icon"></span>
          New Campaign
        </a>
    </div>

    <div class="projects__cards">
      {% for project in projects %}
          <div class="projects__card">
              <div class="projects__card-control">
                  <input class="projects__campaign-button" type="button" value="Campaign" />
                  <input class="projects__description-button" type="button" value="Description" />
              </div>

              <header class="projects__card-header">
                  <div class="projects__name">{{ project.name }}</div>
                  <input class="projects__fund-button" type="button" value="Fun(d) It!"/>
              </header>

              <div class="projects__card-picture">
              </div>

              <div class="projects__card-detail">
                  <div class="projects__card-max-cost">
                      <p class="projects__detail-title">Max Cost / Person</p>
                      <p class="projects__detail-value">$12.50</p>
                      <p class="projects__detail-subtext">(10 min. participants)</p>
                  </div>

                  <div class="projects__card-current-cost">
                      <p class="projects__detail-title">Current Cost / Person</p>
                      <p class="projects__detail-value">{{ costPerParticipant(project) }}</p>
                      <p class="projects__detail-subtext">(12 participants)</p>
                  </div>

                  <div class="projects__card-days-left">
                      <p class="projects__detail-title">Days Left to Fun(d)</p>
                      <p class="projects__detail-value">4</p>
                  </div>
              </div>

              <div class="projects__card-description">
                  {{ project.description }}
              </div>
          </div>
      {% endfor %}
    </div>
{% endblock %}
